@import url('https://fonts.googleapis.com/css?family=Nunito|Oxygen');
@import "ColorScheme.scss";

h1 {
  background-color: $secondaryColor;
  font-family: 'Nunito', sans-serif;
  color: $highlightGrey;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 20px;
}

.textInput {
  margin: 0.25rem;
}

.taskBox {
  width: 350px;
  margin: 0 auto;
  background-color: $primaryColor;
  font-family: 'Oxygen', sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    cursor: pointer;
    vertical-align: middle;
    padding: 0.5rem;

    &:hover {
      background-color: darken($primaryColor, 25%);
    }

    &:before {
      vertical-align: middle;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid white;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

.addMoreItems {
  width: 90px;
  padding: 20px;
  background-color: darken($primaryColor, 25%);

  &:hover {
    background-color: $highlightGrey;
    transition: all .3s linear;
  }

  &:after {
    background-color: white;
  }
}

/*this one is not working*/

.completed {
  background-color: $secondaryColor;
  font-size: 1em;
  width: 100px;
  padding: 20px;
  color: #A0A0A5;
}


